{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-6">User index</h1>

    <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="w-1/6 py-2 px-4 text-left">Id</th>
                <th class="w-1/6 py-2 px-4 text-left">Name</th>
                <th class="w-1/6 py-2 px-4 text-left">Email</th>
                <th class="w-1/6 py-2 px-4 text-left">Password</th>
                <th class="w-1/6 py-2 px-4 text-left">Roles</th>
                <th class="w-1/6 py-2 px-4 text-left">PhoneNumber</th>
                <th class="w-1/6 py-2 px-4 text-left">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="border-b">
                <td class="py-2 px-4">{{ user.id }}</td>
                <td class="py-2 px-4">{{ user.name }}</td>
                <td class="py-2 px-4">{{ user.email }}</td>
                <td class="py-2 px-4">{{ user.password }}</td>
                <td class="py-2 px-4">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="py-2 px-4">{{ user.phoneNumber }}</td>
                <td class="py-2 px-4">
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-blue-500 hover:text-blue-700">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="ml-2 text-blue-500 hover:text-blue-700">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="py-4 text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}" class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create new</a>
{% endblock %}
